<div class="row">
    <div class="panel panel-default col-lg-4 col-md-6 c-user-profile" ng-repeat="user in users" repeat-done>
        <div class="panel-body">
            <div class="c-avatar-title clearfix">
                <div class="c-avatar">
                    <!--
                        I've notice some of the urls for the avatars are invalid or no longer available
                        added an onerror attribtue to handle this
                    -->
                    <img ng-if="user.avatar" ng-src="{{user.avatar}}" onerror="$(this).css('display','none');">
                    {{user.name[0]}}
                </div>
                <div class="c-title">
                    <h2>{{user.name}}</h2>
                    <h3>{{user.occupation}}</h3>
                    <div class="chart" data-id='12' ></div>
                </div>
            </div>
            <div class="row">
                <div class="c-stats col-md-4">
                <p><strong>Conversions</strong></p>
                <p>{{user.conversions}}</p>
                <p><strong>Impressions</strong></p>
                <p>{{user.impressions}}</p>
                <p><strong>Total Revenue</strong></p>
                <p>${{user.revenue}}</p>
                </div>
                <div class="c-chart col-md-8">
                    <p>Conversions {{user.startDate}}-{{user.endDate}}</p>
                    <canvas class="myChart" data-user-id="{{user.id}}" width="200" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

